* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f3f3f3;
}

header nav {
    display: flex;
    justify-content: center;
}

    header nav .LinkButton {
        margin: 15px;
        text-decoration: none;
        color: #000000;
        opacity: 0.75;
        transition-duration: 0.3s;
    }

        header nav .LinkButton:hover {
            transform: scale(1.3);
            opacity: 0.75;
        }


h2 {
    padding: 15px;
    text-align: center;
}

.inputBox {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.InputArea {
    background-color: #FBFBFB;
    border: solid;
    border-width: 1px;
    border-color: #E5E5E5;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

    .InputArea:active {
        background-color: #FBFBFB;
        border: solid;
        border-width: 1px;
        border-color: #E5E5E5;
        border-radius: 10px;
        border-bottom-color: #005a9e;
    }

.ButtomInput {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Button {
    font-size: 15px;
    border: solid;
    border-width: 1px;
    border-color: #1467A6;
    background-color: #005A9E;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    max-width: 40px;
}

.divProblem {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.Problem {
    color: red;
}

.style9Element {
    margin-left: 8px;
}

.Label {
    padding-top: 5px;
    padding-left: 3px;
}

.Filter {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.main {
    display: flex;
    flex-direction: row;
}

.catalog {
    margin-left: 5%;
    margin-right: auto;
    max-width: 15%;
}

@media (min-width: 1000px) {
    .catalog {
        margin-left: 20%;
    }
}
.form {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 45px;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
}

.number {
    padding: 10px;
    border: none;
}